<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
<head>
    <meta charset="UTF-8">
    <title>Lucca Messagerie</title>
    <link href="./style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="./app.js"></script>


</head>
<body>
    <div class="mainBody" ng-controller="ChatController">
        <div class="header">
            <!-- <img src="./assets/Jumping CC.svg" width="100px"> -->
            <img src="./assets/Jumping CC.svg" alt="Logo Lucca">
            <h1>Messagerie Lucca</h1>
        </div>
        <div class="content-page">
            <div class="messages-temp">
                <div class="messages">
                    <div class="{{message.author}}" ng-repeat="message in messages">
                        <img ng-src="{{message.img}}" height="100px" class="img-chat" ng-class="{left:message.me}">
                        <div class="msg-wrap {{message.class}}">
                            <p class="infos-message"><b>{{message.author}}</b> {{message.time | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                            <p class="text-message">{{message.message}}</p>
                        </div>
                    </div>
                </div>
                <div class="container-temp" ng-if="messageInput">
                    <div ng-class="{show:messageInput}">
                        <!-- <img ng-src="{{messageInput.img}}"> -->
                        <p>{{messageInput.author}} écrit ...</p>
                    </div>
                </div>
            </div>
            <div id="input-msg">
                <form ng-submit="sendMessage()">
                    <input placeholder="Entrez votre message ici..." ng-model="currentMessage" ng-change="updateInput()">
                    <button>
                        <img src="./assets/Send 1.svg" alt="blue arrow">
                        Envoyer
                    </button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>