<!DOCTYPE html>
<html lang="en" ng-app="chatApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="./app.js"></script>
    <style>
        body > div.mainBody{
            width : 100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
        }

        body>div>div>div>div img.img-chat{
            float:left;
        }

        body>div>div>img{
            padding:50px;
            border-radius:150px;
        }

        div.container-temp{
            width:500px; 
            margin:auto;
        }

    </style>
</head>
<body>
    <div class="mainBody" ng-controller="ChatController">
        <div style="height:80px; background-color:#909090; position:absolute; top:0; left:0; width:100%;">
            <img src="./assets/Jumping CC.svg" width="100px" style="background:#909090; left:100px; position: absolute; top:0;">
        </div>
        <div style="position:absolute; top:80px; left:0; width:100%; height: 100%; overflow:auto;">
            <div style="width:500px; margin:auto;">
                <div ng-repeat="message in messages" style="height:200px">
                    <p style="color:#333" ><b>{{message.author}}</b> {{message.time | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                    <img ng-src="{{message.img}}" height="100px" class="img-chat" ng-class="{left:message.me}">
                    <p style="background:white; width:400px">{{message.message}}</p>
                </div>
            </div>
            <div class="container-temp" ng-if="messageInput">
                <div ng-class="{show:messageInput}">
                    <img ng-src="{{messageInput.img}}" height="50px" style="float:left;" >
                    <p style="background:white; width:400px">{{messageInput.author}} écrit ...</p>
                </div>
            </div>
            <div >
                <form style="width:200px; margin:auto;" ng-submit="sendMessage()">
                    <input placeholder="Envoyer un message" ng-model="currentMessage" ng-change="updateInput()"><button>send</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>