/* @import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Courier, Arial, Helvetica, sans-serif;
}
  
*:focus,*:hover {
    outline: none;
}

html {
    --green: #006666;
    --blue: #0F98D0;
    /* --light-blue : rgba(15, 153, 208, .16); */
    --light-blue: #D9EFF7;
    background-color: var(--light-blue);
}

/* style initial */
body > div.mainBody{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
}



div.container-temp{
    /* border: 1px solid green; */
    width:500px; 
    margin:auto;
    background-color: var(--light-blue);
}

div.container-temp img{
    /* border: 1px solid blueviolet; */
    float:left;
    height: 50px;
}

div.container-temp p{
    width:400px;
    background-color: var(--light-blue);
}

.msg-wrap {
    /* border: 1px solid gold; */
    padding: 40px;
    width: 680px;
}


/* style test design */
.header {
    background-color: var(--green);
    height:56px; 
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
}


.header img{
    /* border: 1px solid yellow; */
    width: 25px;
    margin: 0 0 0 48px;
}

.header h1 {
    /* border: 1px solid red; */
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    padding: 0 26px;
}

h4 {
    font-size: 14px;
    color: var(--green);
}

.content-page {
    /* border: 3px solid magenta; */
    position:absolute; 
    top:80px; 
    left:0; 
    width:100%; 
    height: calc(100% - 180px); 
    overflow:auto;
}

.messages-temp {
    /* border: 1px solid red; */
    margin: 40px 0 80px 0;
}

.messages {
    /* border: 2px solid purple; */
    width: 800px; 
    margin:auto;
}

.messages > div {
    /* border: 1px solid crimson; */
}

.infos-message {
}

.text-message {
}



/* input message */
#input-msg {
    /* border: 2px solid crimson; */
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: #D9EFF7;
    width: 100%;
    box-shadow: 0px 28px 15px 31px rgba(0, 102, 102, 0.38);
}

#input-msg ::placeholder {
    font-size: 12px;
    color: rgba(0,0,0, .3);
}

#input-msg input {
    border: none;
    width: 100%;
    margin: 10px 30px;
}

#input-msg form {
    /* border: 1px solid yellow; */
    background-color: white;
    border-radius: 29px;
    width: 750px;
    height: 50px;
    display: flex;
    justify-content: center;
}

#input-msg button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    margin: 0 25px 0 0;
    background-color: white;
    border: none;
    cursor: pointer;
}

#input-msg button img {
    margin: 0 10px 0 0;
}

.mystyle {
    background-color: red;
}

.Utilisateur {
    background-color: var(--green);
    color: white;
    border-radius: 14px;
    box-shadow: 4px 4px 28px -8px rgba(0, 0, 0, 0.41);
}

.Opératrice {
    background-color: white;
    color: black;
    border-radius: 14px;
    box-shadow: 4px 4px 28px -8px rgba(0, 0, 0, 0.41);
}

.commun {
    /* border: 1px solid crimson; */
    display: flex;
    flex-direction: column;
    margin: 70px 0;
}

.text-ope {
    margin: 0 80px 0 0;

}

.text-user {
    flex-direction: row-reverse;
    display: flex;
    margin: 0 0 0 80px;
}

.message-text-img {
    /* border: 2px solid pink; */
    display: flex;
}

.p-reverse-ope {
    display: flex;
    justify-content: flex-end;
    margin: 0 80px 7px 0;
    font-size: 14px;
}

.p-reverse-user {
    margin: 0 0 7px 80px;
    font-size: 14px;
}


.img-chat{
    /* border: 4px solid blue; */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 0 7px 0;
}

.text-user .img-author {
    margin: 0 0 0 20px;
}

.text-ope .img-author {
    margin: 0 20px 0 0;
}

.img-author {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
}















/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */

  .stage {
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }


.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  /* background-color: #9880ff; */
  /* color: red; */
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  /* background-color: #9880ff; */
  /* color: #9880ff; */
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  /* background-color: #9880ff; */
  /* color: #9880ff; */
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: var(--green);
  }
  50%,
  100% {
    background-color: var(--light-blue);
  }
}