@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/**
 * =======================================================================
 * INITIAL VALUES
 * =======================================================================
 */

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
  
*:focus,*:hover {
    outline: none;
}

html {
    --green: #006666;
    --blue: #0F98D0;
    --light-blue: #D9EFF7;
    background-color: var(--light-blue);
}

body > div.mainBody{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
}

/**
 * =======================================================================
 * PART : HEADER
 * =======================================================================
 */

 .header {
    background-color: var(--green);
    height:56px; 
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
}
.header #logo{
    width: 25px;
    margin: 0 0 0 48px;
}
.header h1 {
    color: white;
    font-size: 18px;
    padding: 0 26px;
}
#logo-part {
    display: flex;
    align-items: center;
}

/**
 * =======================================================================
 * PART : TITLE
 * =======================================================================
 */

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 48px 0 0;
}

#title h2 {
    font-size: 16px;
    color: white;
    font-weight: lighter;
}

#title img {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    margin: 0 0 0 12px;
    box-shadow: 0px 0px 8px 1px rgba(0, 102, 102, 0.38);
}

.conversation-img {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    margin: 0 0 0 12px;
    box-shadow: 0px 0px 8px 1px rgba(0, 102, 102, 0.38);
}

/**
 * =======================================================================
 * PART : DOTS
 * =======================================================================
 */

#div-dots {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
}

div.container-temp p{
    margin: 0 30px 0 0;
    color: var(--green);
    font-size: 14px;
    font-weight: 700;
}
.show {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dot-flashing {
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
  }
  
  .dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
  }
  
  .dot-flashing::before {
    left: -15px;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
  }
  
  .dot-flashing::after {
    left: 15px;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dotFlashing {
    0% {
      background-color: var(--green);
    }
    50%,
    100% {
      background-color: var(--light-blue);
    }
  }

/**
 * =======================================================================
 * PART : MESSAGES
 * =======================================================================
 */
 .content-page {
    position:absolute; 
    top:56px; 
    left:0; 
    width:100%; 
    height: calc(100% - 142px); 
    overflow:auto;
}
 .msg-wrap {
    padding: 40px;
    width: 680px;
}
h4 {
    font-size: 14px;
    color: var(--green);
}
.messages-temp {
    margin: 40px 0 80px 0;
}

.messages {
    width: 850px; 
    margin:auto;
}
.Utilisateur {
    background-color: var(--green);
    color: white;
    border-radius: 14px;
    box-shadow: 4px 4px 28px -8px rgba(0, 0, 0, 0.41);
}

.Opératrice {
    background-color: white;
    color: black;
    border-radius: 14px;
    box-shadow: 4px 4px 28px -8px rgba(0, 0, 0, 0.41);
}

.commun {
    -moz-flex-direction: column;
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}
.text-ope {
    margin: 0 80px 0 0;
}

.text-user {
    -moz-flex-direction: column;
    flex-direction: row-reverse;
    display: flex;
    margin: 0 0 0 80px;
}
.message-text-img {
    display: flex;
}

.p-reverse-ope {
    display: flex;
    justify-content: flex-end;
    margin: 0 80px 7px 0;
    font-size: 14px;
}

.p-reverse-user {
    margin: 0 0 7px 80px;
    font-size: 14px;
}


.img-chat{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 0 7px 0;
}

.text-user .img-author {
    margin: 0 0 0 20px;
}

.text-ope .img-author {
    margin: 0 20px 0 0;
}

.img-author {
    display: flex;
    -moz-flex-direction: column;
    flex-direction: column;
    width: 100px;
    align-items: center;
}
/**
 * =======================================================================
 * PART : INPUT
 * =======================================================================
 */

 #input-msg {
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: #D9EFF7;
    width: 100%;
    box-shadow: 0px 28px 15px 31px rgba(0, 102, 102, 0.38);
}
#input-msg ::placeholder {
    font-size: 12px;
    color: rgba(0,0,0, .3);
}
#input-msg input {
    border: none;
    width: 100%;
    margin: 10px 30px;
}
#input-msg form {
    background-color: white;
    border-radius: 29px;
    width: 750px;
    height: 50px;
    display: flex;
    justify-content: center;
}
#input-msg button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    margin: 0 25px 0 0;
    background-color: white;
    border: none;
    cursor: pointer;
}
#input-msg button img {
    margin: 0 10px 0 0;
}