/* @import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Courier, Arial, Helvetica, sans-serif;
}
  
*:focus,*:hover {
    outline: none;
}

html {
    --green: #006666;
    --blue: #0F98D0;
    /* --light-blue : rgba(15, 153, 208, .16); */
    --light-blue: #D9EFF7;
    background-color: var(--light-blue);
}

/* style initial */
body > div.mainBody{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
}

.img-chat{
    border: 4px solid blue;
    float:left;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 20px 0 0;
}


div.container-temp{
    border: 1px solid green;
    width:500px; 
    margin:auto;
    background-color: var(--light-blue);
}

div.container-temp img{
    border: 1px solid blueviolet;
    float:left;
    height: 50px;
}

div.container-temp p{
    width:400px;
    background-color: var(--light-blue);
}

.msg-wrap {
    border: 1px solid gold;
    background-color: var(--green);
}


/* style test design */
.header {
    background-color: var(--green);
    height:80px; 
    width: 100%;
    /* position:absolute;  */
    /* top:0;  */
    /* left:0;  */
    /* width:100%; */
    display: flex;
    position: fixed;
    z-index: 1;
}


.header img{
    border: 1px solid yellow;
    /* padding:50px; */
    /* border-radius:150px; */
    width: 38px;
    /* left:100px;  */
    /* position: absolute;  */
    /* top:0; */
    margin: 0 0 0 48px;
}

.header h1 {
    border: 1px solid red;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0 26px;
}

.content-page {
    /* border: 3px solid magenta; */
    position:absolute; 
    top:80px; 
    left:0; 
    width:100%; 
    height: calc(100% - 180px); 
    overflow:auto;
}

.messages-temp {
    border: 1px solid red;
    margin: 40px 0 80px 0;
}

.messages {
    border: 1px solid purple;
    width:500px; 
    margin:auto;
}

.messages > div {
    border: 1px solid crimson;
    height:200px;
}

.infos-message {
    color: white;
}

.text-message {
    /* width:400px; */
    color: white;
}



/* input message */
#input-msg {
    /* border: 2px solid crimson; */
    padding: 21px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    background-color: #D9EFF7;
    width: 100%;
    box-shadow: 0px 28px 15px 31px rgba(0, 102, 102, 0.38);
}

#input-msg ::placeholder {
    font-size: 12px;
    color: rgba(0,0,0, .3);
}

#input-msg input {
    border: none;
    width: 100%;
    margin: 10px 30px;
}

#input-msg form {
    border: 1px solid yellow;
    background-color: white;
    border-radius: 29px;
    width: 750px;
    height: 58px;
    display: flex;
    justify-content: center;
}

#input-msg button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    margin: 0 25px 0 0;
    background-color: white;
    border: none;
    cursor: pointer;
}

#input-msg button img {
    margin: 0 10px 0 0;
}